@font-face {
    font-family: "Vo";
    src: url(./fonts/VOYAGE-REGULAR.TTF);
}

@font-face {
    font-family: "mo";
    src: url(./fonts/MONTSERRAT-REGULAR.TTF);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1648737119247-e93f56878edf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font: 100 5vmax "Vo";
    color: #fff;
}

p {
    font: 300 1.2vmax "mo";
    color: #fff;
    margin: 1vmax 0;
}

button {
    padding: 1vmax 3vmax;
    font: 300 1.2vmax "mo";
    border: 1px solid white;
    background-color: transparent;
    color: #fff;
}
